.DS_Store
**/.DS_Store
Thumbs.db
*.log
node_modules/
.venv/
__pycache__/
_engine.txt
*.tmp
_py.txt
_py2.txt
_pyq.txt
_py3.txt
_pyq3.txt
_sql.txt
_sqlq.txt
_ref.txt
_bi.txt
_biq.txt
_est.txt
_estq.txt
_viz.txt
_vizq.txt
_ia.txt
_iaq.txt
_pl.txt
_ref2.txt
